/*-----Reset style-----*/
@import url("reset.css");
/*--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
/*--------------------*/
body {
  font-family: Inter, sans-serif;
}
.plan {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  /* width: 100%;
  height: 100%; */
}
/* The switch - the box around the slider */
.switchers {
  position: absolute;
  top: 20px;
  left: 100px;
}

/* ------------------- */
.checkbox-button {
  position: relative;
  z-index: 10;
  padding-top: 10px;
}

.checkbox-button input[type="checkbox"] {
  background-image: -webkit-linear-gradient(
      hsla(0, 0%, 0%, 0.1),
      hsla(0, 0%, 100%, 0.1)
    ),
    -webkit-linear-gradient(top, #8f6 50%, #f66 50%); /* Изменил направление градиента на top */
  background-size: 100% 100%, 100% 200%; /* Изменил размер градиентов */
  background-position: 0 0, 0 35px; /* Изменил положение градиентов */
  border-radius: 25px;
  box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.5),
    inset 0 0 10px hsla(0, 0%, 0%, 0.5), 0 0 0 1px hsla(0, 0%, 0%, 0.1),
    0 -1px 2px 2px hsla(0, 0%, 0%, 0.25), 0 2px 2px 2px hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  height: 75px; /* Поменял высоту и ширину местами */
  width: 25px;
  padding-top: 25px; /* Поменял padding-right на padding-bottom */
  -webkit-appearance: none;
  -webkit-transition: 0.25s;
}

.checkbox-button input[type="checkbox"]:after {
  content: "";
  display: block;
  height: 50px; /* Поменял высоту и ширину местами */
  width: 25px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 25px;
  box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
    inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
    0 1px 3px 1px hsla(0, 0%, 0%, 0.5), 0 0 2px hsla(0, 0%, 0%, 0.25);
}

.checkbox-button input[type="checkbox"]:checked {
  background-position: 0 0, 0 15px; /* Изменил положение градиентов */
  padding-bottom: 25px; /* Поменял padding-left на padding-top и padding-right на 0 */
  padding-top: 0;
}

/* =================== */

.line2 {
  position: absolute;
  bottom: -200px;
  left: -20px;
  opacity: 0.1;
  transition: opacity 0.3s;
}

.checkbox-button input[type="checkbox"]:checked + .line2 {
  opacity: 1;
}
